#===================================================================================================
/archive/
**/archive/
/auth/
/shadows/
/jars/
/dailysh/
/bin/
/courseleafcgiShadow
/courseleafEscrowedSites
/courseleafGitRepoShadow
/courseleafSkeletonShadow
/cygwin64/
/DBs/
/internalContactsDbShadow
/Logs/
/MySQL/
/Python/
.pw*
*.pyc
*.bak
.nfs*
/src/java/WorkWith/nbproject/private/
/src/java/WorkWith/build/
/src/java/WorkWith/dist/
