#===================================================================================================
/archive/
/bin/
/shadows/
/courseleafcgiShadow
/courseleafEscrowedSites
/courseleafGitRepoShadow
/courseleafSkeletonShadow
/cygwin64/
/DBs/
/internalContactsDbShadow
/Logs/
/MySQL/
/Python/
.pw*
*.pyc
*.bak
.nfs*
